*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  --bg-color: #1a1a2e;
  --text-color: #e4e4e4;
  --button-bg-color: #1f4068;
  --button-hover-color: #004203;
  --button-disabled-color: #4b6584;
  --button-text-color: #ffffff;
  --game-logo-width: 150px;
  --game-logo-height: 150px;
  --game-option-width: 150px;
  --game-option-height: 150px;
  --player-background-color: #004203;
  --computer-background-color: #e94560;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#game-logo {
  width: var(--game-logo-width);
  height: var(--game-logo-height);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  gap: 30px;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex: 1;
}

.playerSelection {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.playerSelection:hover {
  background-color: var(--button-hover-color);
}

.game-option {
  width: var(--game-option-width);
  height: var(--game-option-height);
}

#RockDiv,
#PaperDiv,
#ScissorsDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

#result {
  font-size: 1rem;
  text-align: center;
  flex: 1;
}

#header {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#paper-option,
#rock-option,
#scissors-option {
  transition: transform 2s ease;
}

.scale {
  transform: scale(1.5);
}

.player-selection {
  background-color: var(--player-background-color);
}

.computer-selection {
  background-color: var(--computer-background-color);
}
